{% extends 'base.html' %}

{% block content %}
    <body class="text-center">
        <table class="table table-hover">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/> <!-- Because why not -->
            <thead class="thead-inverse">
                <th class="text-center">First Name</td>
                <th class="text-center">Last Name</th>
                <th class="text-center">Contact</th>
                <th class="text-center">Last Contacted</th>
                <th class="text-center">Risk Index</th>
                <th class="text-center">Shutoff Date Set</th>
            </thead>

            {% set cnt = 0 %}
            {% for person in persons %}
                {% set risk_factors = db_helper.get_risk_factors_for(person) %}
                {% set cnt = cnt + 1 %}
            <tbody>
                {% set accordionClass = "#accordion"+cnt|string() %}{% set accordionClass = "#accordion"+cnt|string() %}
                {% set accordionId = "accordion"+cnt|string() %}
                <tr data-toggle="collapse" data-target={{accordionClass}} class="clickable">
                    <td class="text-center">{{person.first_name}}</td>
                    <td class="text-center">{{person.last_name}}</td>
                    <td class="text-center">{{person.phone_num}}</td>


                    <td class="text-center">{{contact_dates|random()}}</td>

                    <!-- Risk index Dial -->
                    {% if person.risk_value < 33 %}
                        <td class="text-center"><input type="text" value={{person.risk_value}} class="dial" data-fgColor="#008000"></td>
                    {% elif person.risk_value < 66 %}
                        <td class="text-center"><input type="text" value={{person.risk_value}} class="dial" data-fgColor="#ffff00"></td>
                    {% else %}
                        <td class="text-center"><input type="text" value={{person.risk_value}} class="dial" data-fgColor="#ff0000"></td>
                    {% endif %}

                    <!-- Shutoff date image-->
                    <td align="center">
                        {% if "Shutoff date established" in risk_factors %}
                            <img src="..\static\error.png" class="img-responsive" style="width:40px;height:40px" title="{{shutoff_dates|random()}}"/>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="hiddenRow text-left">
                        <div id="{{accordionId}}" class="collapse">
                            <center>
                                <p>
                                    <!--TODO: Utilities Late For:{{person.late_utilities}}</br>-->
                                    Age : {{person.age}}</br>
                                    Sex : {{person.sex}}</br>
                                    Veteran Status : {{person.veteran}}</br>
                                    Disability Status : {{person.disabled}}</br>
                                </p>
                                <p></p>
                                </br>
                                <b>
                                    {% for risk_key in risk_factors %}
                                        {% if risk_key != "Shutoff date established" %}
                                        <strong>{{risk_key + ": $" + risk_factors[risk_key]|string()}}</strong><br />
                                        {%endif %}
                                    {% endfor %}
                                    <p></p>
                                    <a href="#">I have contacted this person.</a>
                                </b>
                            </center>
                        </div>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    </body>
</html>

{% endblock %}
