{% extends 'base.html' %}

{% block content %}
    <body>
        <table style="width:100%" class="table table-hover">
            <thead class="thead-inverse">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact</th>
                <th>Risk Value</th>
                <th>Risk Factors</th>
                <th>Contacted?<th>
                <th>Last Contacted</th>
            </thead>

            {% for person in persons %}
            <tbody>
                <tr>
                    <td>{{person.first_name}}</td>
                    <td>{{person.last_name}}</td>
                    <td>{{person.phone_num}}</td>

                    {% if person.risk_value < 33 %}
                        <td><input type="text" value={{person.risk_value}} class="dial" data-fgColor="#008000"></td>
                    {% elif person.risk_value < 66 %}
                        <td><input type="text" value={{person.risk_value}} class="dial" data-fgColor="#ffff00"></td>
                    {% else %}
                        <td><input type="text" value={{person.risk_value}} class="dial" data-fgColor="#ff0000"></td>
                    {% endif %}
                    <td>
                      {% for risk in db_helper.get_risk_factors_for(person) %}
                      {{risk}}<br />
                      {% endfor %}
                    </td>
                    <td><input type=button value="Yes"></td>
                    <td>{{person.last_contacted}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </body>
</html>

{% endblock %}
